adf/pipeline/init_address_load.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "import",
						"type": "DatasetReference",
						"parameters": {
							"foldername": "EmailCSV"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"description": "true: init load\nfalse: folder exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(activity('Get Metadata1').output.exists)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "exists",
								"value": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "exists",
								"value": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"exists": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Pipelines"
		},
		"annotations": []
	}
}