adf/pipeline/load_email_csv.json
{
	"name": "load_email_csv",
	"properties": {
		"activities": [
			{
				"name": "Copy csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Login email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "{Login email}",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "First name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "{First name}",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Last name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "{Last name}",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EmailCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "temp",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "load_csv_into_import",
						"type": "DataFlowReference",
						"datasetParameters": {
							"tempCSV": {
								"fileName": {
									"value": "@variables('filename')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "log error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateErrorTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": "temp",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@{activity('Copy csv').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@{activity('Copy csv').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Copy csv').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@concat(activity('Copy csv').error.message,'failureType:',activity('Copy csv').error.failureType)\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Copy csv').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": "cethtwsource2/source",
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Copy csv').output.executionDetails[0].source.type}\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "source1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": "temp_Email_CSV.parquet"
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipelines"
		},
		"annotations": []
	}
}