adf/pipeline/PL_Import_DimABLBEmail_HANNA.json
{
	"name": "PL_Import_DimABLBEmail_HANNA",
	"properties": {
		"activities": [
			{
				"name": "ABLBEmailToADLTempEmail",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Login email",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Loginemail",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "First name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Firstname",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Last name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Lastname",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ABLB_Email",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Temp",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "Email.parquet",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DF_Import_ADLTempEmail",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ABLBEmailToADLTempEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "test"
					}
				],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Import_ADLSTempEmail_HANNA",
						"type": "DataFlowReference",
						"parameters": {
							"tableID": "'Identifier'",
							"tableName": "'Email'",
							"tableStructureInString": "'Loginemail as string, Identifier as string, Firstname as string, Lastname as string'"
						},
						"datasetParameters": {
							"SRCADLTempEmail": {
								"fileName": "Email.parquet"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ASQL_prc_CDUpdateErrorTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ABLBEmailToADLTempEmail",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateErrorTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": "temp",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@{activity('ABLBEmailToADLTempEmail').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@{activity('ABLBEmailToADLTempEmail').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('ABLBEmailToADLTempEmail').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@concat(activity('ABLBEmailToADLTempEmail').error.message,'failureType:',activity('ABLBEmailToADLTempEmail').error.failureType)\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('ABLBEmailToADLTempEmail').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": "cethtwsource2/source",
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('ABLBEmailToADLTempEmail').output.executionDetails[0].source.type}\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SalesLT",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ASQL_prc_DFUpdateErrorTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DF_Import_ADLTempEmail",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateErrorTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": "import",
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@activity('DF_Import_ADLTempEmail').output.errors[0].code",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@activity('DF_Import_ADLTempEmail').output.error[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": "k.a.",
							"type": "String"
						},
						"FailureType": {
							"value": "k.a.",
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": "k.a.",
							"type": "String"
						},
						"Source": {
							"value": "temp",
							"type": "String"
						},
						"Source_Type": {
							"value": "k.a.",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_SalesLT",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ABLBTempEmailToADLArchivEmail",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DF_Import_ADLTempEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Loginemail",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Loginemail",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Identifier",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Firstname",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Firstname",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Lastname",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "Lastname",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ADLS_Temp",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "Email.parquet",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Archiv",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat('Email_',utcnow(),'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"concurrency": 1,
		"folder": {
			"name": "Import"
		},
		"annotations": []
	}
}