adf/pipeline/Prozess1.json
{
	"name": "Prozess1",
	"properties": {
		"activities": [
			{
				"name": "If deltaLoad",
				"description": "True: delta load\nFalse: full load",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.deltaload",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Product All Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select * from SalesLT.Product",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "source1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "temp",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "temp_Product_Table.parquet"
									}
								}
							]
						},
						{
							"name": "Copy CSV",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy Product All Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Login email",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Loginemail",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Identifier",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Identifier",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "First name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Firstname",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Last name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Lastname",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EmailCSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "temp",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "temp_Email_CSV.parquet"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "LookupOldWaterMark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "WaterMarkTable",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LookupNewWaterMark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select MAX(ProductID) as NewWatermarkvalue from SalesLT.Product",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ProductTable",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy Product Data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupNewWaterMark",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LookupOldWaterMark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from SalesLT.Product where ProductID > '@{activity('LookupOldWaterMark').output.firstRow.WatermarkValue}' and ProductID <= '@{activity('LookupNewWaterMark').output.firstRow.NewWatermarkvalue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"validateDataConsistency": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "Datalake",
											"type": "LinkedServiceReference"
										},
										"path": "errorlog"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "source1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "temp",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "temp_Product_Table.parquet"
									}
								}
							]
						},
						{
							"name": "Stored procedure set new Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy Product Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"ID": {
										"value": {
											"value": "@{activity('LookupNewWaterMark').output.firstRow.NewWatermarkvalue}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TableName": {
										"value": {
											"value": "@{activity('LookupOldWaterMark').output.firstRow.TableName}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "source1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"deltaload": {
				"type": "bool"
			}
		},
		"annotations": []
	}
}