adf/pipeline/Prozess1_full_load.json
{
	"name": "Prozess1_full_load",
	"properties": {
		"description": "source to temp",
		"activities": [
			{
				"name": "If deltaLoad",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.deltaLoad",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "List Tables",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select * \nfrom Source1.INFORMATION_SCHEMA.TABLES\nwhere TABLE_SCHEMA = 'SalesLT' and TABLE_TYPE = 'BASE TABLE'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "source1",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "ForEachTable",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "List Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('List Tables').output.value",
									"type": "Expression"
								},
								"activities": [
									{
										"name": "Copy data1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SQLTable",
												"type": "DatasetReference",
												"parameters": {
													"tableName": {
														"value": "@item().table_name",
														"type": "Expression"
													},
													"schemaName": {
														"value": "@item().table_schema",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "temp",
												"type": "DatasetReference",
												"parameters": {
													"fileName": {
														"value": "@concat('temp',item().table_schema,'_',item().table_name,'parquet')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ForEachTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EmailCSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "temp",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "temp_emailCSV"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"deltaLoad": {
				"type": "bool"
			}
		},
		"annotations": []
	}
}